In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
df.sort_values('f5',ascending=False).head(10)

      id   age city    f1  f2   f3    f4         f5
10  id11  40.0   서울  68.0   0  NaN  ENFP  98.429899
97  id98  39.0   경기  58.0   2  NaN  INFP  98.429899
9   id10  95.0   서울  74.0   1  NaN  ISFP  98.429899
76  id77  77.0   경기  31.0   0  NaN  INFP  98.429899
98  id99   1.0   경기  47.0   0  NaN  ESFJ  97.381034
91  id92  97.0   경기  78.0   1  NaN  INFP  97.381034
86  id87  19.0   경기   NaN   1  NaN  ISFP  97.381034
71  id72   8.0   경기  97.0   0  NaN  ESTJ  97.381034
11  id12  20.0   서울   NaN   0  NaN  ESTP  91.297791
19  id20  11.0   서울  51.0   1  NaN  INTJ  91.297791